.devMenu{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.workspace{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.controllerWindowButtonsImg{
    max-width: 16px;
    max-height: 16px;
}

.controllerWindowButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    border: 0;
    width: 25px;
    height: 25px;
}
.controllerWindowButtons:hover{
    box-shadow: black 0px 0 6px -3px;
}