.devMenu{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.workspace{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.controllerWindowButtonsImg{
    max-width: 16px;
    max-height: 16px;
}

.controllerWindowButtons{
    display: flex;
    justify-content: center;
    cursor: pointer;
}